@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;1,100&family=Raleway:ital,wght@0,100;0,300;0,500;0,600;0,700;1,100;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400;1,500&family=Tajawal:wght@400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blue: rgb(122, 158, 206);
  --gray: rgba(197, 195, 195, 0.96);
}
body {
  background-color: #202124;
  color: var(--gray);
  font-family: "Roboto", sans-serif;
}
.search {
  display: grid;
  grid-template-columns: 1.5fr 11fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo form settings";
  justify-content: space-between;
  padding: 2rem 2rem 0.2rem 2rem;
}
header div img {
  height: 3rem;
  width: 4.6rem;
  grid-area: logo;
}
.search form {
  width: 100%;
  max-width: 40rem;
  height: 2.8rem;
  grid-area: form;
  display: grid;
  align-items: center;
  grid-template-columns: 8fr 1fr 2fr;
  grid-template-areas: " input icon tools";
  background-color: #323234;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.search input {
  border-color: transparent;
  background-color: transparent;
  outline: none;
  grid-area: input;
  padding-left: 1rem;
  height: 2.8rem;
}
.closeIcon {
  padding-left: 1.5rem;
  font-size: 1.4rem;
  align-self: center;
}
.icons {
  display: grid;
  grid-template-columns: 8fr 1fr 2fr;
  font-size: 1.1rem;
  height: 1.5rem;
  padding: 0 0.6rem;
  align-items: center;
  border-left: 1px solid var(--gray);
}
.icons i {
  padding: 0 0.6rem;
}
.settings {
  grid-area: settings;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "icon1 icon2 image";
  grid-template-rows: 1fr;
  align-items: center;
}
.settings img {
  height: 2rem;
  width: 2rem;
  grid-area: image;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.search input::placeholder {
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
}
.buttons {
  margin-top: 1.4rem;
}
/* start navbar */
nav {
  display: grid;
  grid-template-columns: 33rem 15rem;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  border-bottom: 0.1px solid #353536f1;
}
nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
nav ul li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 1rem;
  padding: 1rem 0;
}
nav p {
  padding-left: 0.4rem;
}
.all {
  color: var(--blue);
  border-bottom: 4px solid var(--blue);
}
.all p {
  padding-left: 0em;
}
/* end header */
/* start styling main */
main {
  padding: 1rem 13rem;
}
main a:hover {
  text-decoration: underline;
}
.links {
  padding-top: 1.3rem;
}
.links a {
  color: var(--blue);
  text-decoration: none;
  font-size: 1.2rem;
}
.links p {
  padding: 0.5rem 0;
  line-height: 1.5rem;
  text-align: left;
}
.innerLinks {
  padding: 1rem;
}
.innerLinks div {
  padding: 0.3rem 0;
}
.options {
  width: 45rem;
  font-size: 1.1rem;
}
.options ul {
  list-style: none;
}
.options ul li {
  display: grid;
  grid-template-columns: 25rem 2rem;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-bottom: 1.2px solid #353536f1;
}
.options p i,
h2 i {
  padding: 0 1rem;
  font-size: 1rem;
}
.options ul li:first-child {
  font-size: 1.5rem;
  color: aliceblue;
}
.Related {
  padding: 2rem 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 200;
  color: aliceblue;
  padding: 1rem 0;
}
.containar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.6rem 1rem;
}
.containar div {
  padding: 1rem;
  background-color: #323234;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.containar a {
  color: var(--gray);
  text-decoration: none;
}
/* end main  */
